body
{
    
    background-color:#f4f5db;
margin:0px;
    font-size:large;
    
   
}


img{ display:-ms-inline-flexbox
border-radius: 50%;

}

p{
display: block;

}
hr
{
border-style: none;
    border-top-style: solid;
    border-width:5px;
    color:#557174;} 
    margin-top:0;

    p{

      margin-bottom:0;
    }
        
button{

    background-color: #e4e4e4; 
    border: #9dad7f;
    border-width: 5px; 4px; 3px; 2px;
    border-style:SOLID;
    color: #557174;
    padding:10px;   
    text-align: center;
    text-decoration: none;
    display:inline;
    font-size: 16px;
  }
 
  button:hover{
      background-color:gold;
        }

  h1:hover{
      background-color:rgb(0, 0, 0);
      width:fit-content;
      color: rgb(255, 13, 13);
  }

  
  a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }

h2{

  margin:0;
  font-size:50px;
}
  /*-----------------------------------------------------Class Selectors-----------------------------------*/

  .FormButton:hover
  {
background-color: royalblue;
  }

  .flo{

    background-color:#6930c3;
    color: white;
    height: 2.5cm;
    padding: 13px ;
        display: block;
        position: fixed;
        margin-left:0px;
    width:100%;
  }

 
  .highlight{

    background-color:#f8dc81;
  }

 .fix{

  position:relative;
  left:1000px;
 }